<h2> Hi <%= @user.username %> </h2>

<%= link_to "Log out", logout_path %><br><br>

<%= link_to "Edit account details", edit_user_path(@user) %><br><br>


<%= link_to "See all recipes", recipes_path %>
