<h1><%= @user.username %></h1>
<br>
<h4> Most Recent Orders: </h4>
<% if @orders.is_a?(Array) %>
<% @orders.each do |order| %><br>
<%= order.recipe.name %>
<% end %>
<% else %>
<%= @orders.recipe.name %>
<% end %>
<br><br>
<%= link_to "See all recipes", recipes_path %>
